<!-- |uppercase  - pipes which makes the title to uppercase -->
<h1>Welcome to {{ title | uppercase }}</h1>

<form (ngSubmit)="processForm()">
  <label for="item Name">Item Name:</label>
  <input type="text" name="name" [(ngModel)]="item.name" />
  <br />
  <label for="item Price">Item Price:</label>
  <input type="number" name="price" [(ngModel)]="item.price" />
  <br />
  <label for="item Unit">Item Unit:</label>
  <input type="number" name="unit" [(ngModel)]="item.unit" />
  <br />
  <label for="item Date">Purchase Date:</label>
  <input type="date" name="date" [(ngModel)]="item.date" />
  <br />
  <br />
  <button (click)="newItem()">Add Item</button>

  <button (click)="clearItems()">Clear Items</button>
  <br />
</form>
<div *ngIf="data.length > 0">You have {{ data.length }} items</div>
<div *ngIf="data.length >= 5">
  Caution: {{ data.length }} items in your array
</div>
<br />
<table>
  <tr>
    <th>#</th>
    <th>Item Name</th>
    <th>Item Price</th>
    <th>Item Unit</th>
    <th>Purchse Date</th>
    <th>Total Cost</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let item of data; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.price }}</td>
    <td>{{ item.unit }}</td>
    <td>{{ item.date }}</td>
    <td>{{ item.price * item.unit }}</td>
    <td><button (click)="this.data.splice(i, 1)">Delete Items</button></td>
  </tr>
</table>
